body
{
    background-color: #EE2;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


h1, h2, h3, h4, h5, h6, p, img
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: inherit;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h1
{
    font-size: 5.5em;
    line-height: 1.1em;
}

h2
{
    font-size: 3.5em;
}

h3
{
    font-size: 2.5em;
    line-height: 1.3em;
}

h4
{
    font-size: 2em;
}

h5
{
    font-size: 1.5em;
}

h6
{
    font-size: 1.2em;
}

p
{
    font-size: 1em;
}

a
{
    color: #000;
}

a:hover
{
    color: #555;
}

.align-left
{
    margin-left: 10%;
    margin-right: 10%;
}


@media screen and (orientation:landscape)
{
    h1
    {
        font-size: 5.5em;
        line-height: 1.1em;
    }

    h2
    {
        font-size: 3.5em;
    }

    h3
    {
        font-size: 2.5em;
        line-height: 1.3em;
    }

    h4
    {
        font-size: 2em;
    }

    h5
    {
        font-size: 1.5em;
    }

    h6
    {
        font-size: 1.2em;
    }

    p
    {
        font-size: 1em;
    }

    .text-width-center
    {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        align-items: center;
        text-align: center;
    }
    .big-awesome-div
    {
        height: 70vh;
        line-height: 70vh;
        text-align: center;
    }

    .big-awesome-text
    {
        display: inline-block;
        font-family: 'Short Stack';
        font-size: 11.0vw;
        line-height: 1.2em;
        text-align: center;
        vertical-align: middle;
    }

    .bottom-panel
    {
        display: flex;
        height: 30vh;
        line-height: 30vh;
    }

    .left-bottom-panel
    {
        width: 50%;
    }

    .bottom-panel-text
    {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }

    .right-bottom-panel
    {
        flex-grow: 1;
    }
}

@media screen and (orientation:portrait)
{
    h1
    {
        font-size: 5.0em;
        line-height: 1.1em;
    }

    h2
    {
        font-size: 3.2em;
    }

    h3
    {
        font-size: 2.3em;
        line-height: 1.3em;
    }

    h4
    {
        font-size: 1.8em;
    }

    h5
    {
        font-size: 1.3em;
    }

    h6
    {
        font-size: 1.1em;
    }

    p
    {
        font-size: 0.9em;
    }

    .big-awesome-div
    {
        height: 50vh;
        line-height: 50vh;
        text-align: center;
    }

    .big-awesome-text
    {
        display: inline-block;
        font-family: 'Short Stack';
        font-size: 15.0vw;
        line-height: 1.2em;
        text-align: center;
        vertical-align: middle;
    }

    .bottom-panel
    {
        display: block;
    }

   .bottom-panel-text
    {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }

    .text-width-center
    {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .left-bottom-panel
    {
        height: 35vh;
    }

    .right-bottom-panel
    {
        height: 15vh;
    }
}

.join-in-center
{
    max-width: 800px;
    margin: 0 auto;
}